div {
    background-color: rgb(49, 219, 191);
    height: 350px;
    width: 550px;
}

button {
    background-color: rgb(80, 49, 219);
    
}

body {
    background-color: powderblue;
}

h2 {
  color: blue;
  
  background-color: powderblue;

}

li {
    position: relative;
    color: blue;
    font-size: 20px;
    background-color: powderblue;
}

::marker {
    color: blue;
    font-size: 1.2em;
    
  }

  img {
      width: 300px;
      height: 300px;
  }

  form {
      
    position: absolute;
    left: 600px;
    top: 200px;
    color: #cc005f;
      background-color: #00d9ff;
      font-family: Georgia, serif;
      font-size: 16px;
      width: 300;
      height: 300;
  } 

  .userResults {
    position: absolute;
    float:left;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 700px;
    background-color: #054550;


  }

  .userInfo {
    position: absolute;
    float:right;
    left: 1050px;
    top: 0px;
    width: 300px;
    height: 700px;
    background-color: #054550;
}

h1 {
  font: calibri;
  color: rgb(255, 113, 47);
  text-shadow: rgb(255, 141, 47);
}