div {
    background-color: rgb(49, 219, 191);
    height: 200px;
    width: 50%;
}

button {
    background-color: rgb(80, 49, 219);
    
}

body {
    background-color: powderblue;
}

li {
    position: relative;
    color: blue;
    font-size: 2 em;
    background-color: powderblue;
}

::marker {
    color: blue;
    font-size: 1.2em;
    
  }

  img {
      width: 100px;
      height: 200px;
  }

  form {
    position: absolute;
    left: 250px;
    top: 250px;
    color: #cc005f;
      background-color: #00d9ff;
      font-family: Georgia, serif;
      font-size: 16px;
      width: 200;
      height: 200;
  } 